.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.App-logo {
  height: 1.8vmin;
  pointer-events: none;
}

.banner {
  align-items: center;
  background: radial-gradient(circle, rgba(33,61,88,1) 19%, rgba(10,26,47,1) 55%);
  color: #F5F5F5;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.bottom-text {
  line-height: 1vh;
}

.btn-nav {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 0 2vh;
}

.btn-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25%;
  position: fixed;
  width: 65%;
}

.car-img {
  height: auto;
  width: 100%;
}

.car-perspective {
  height: 100%;
  width: auto;
  position: fixed;
}

.credit {
  font-weight: bold;
  padding: 0 2vh;
}

.Details-link {
  padding: 0 2vh;
}

.est {
  font-size: calc(5px + 1vmin);
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.features-col {
  display: flex;
  flex-direction: column;
  padding: 2.1vh;
}

.gray-thin {
  color: #696969;
  font-size: 1.8vh;
}

.header {
  background-color: transparent;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 0 5vh;
}

.header-wrapper {
  background-color: white;
  opacity: 0.99;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.inc-btn {
  background-color: #ECECEC;
  border: none;
  border-radius: 0.5vh;
  color: #696969;
  cursor: pointer;
  font-size: 2vh;
  padding: 0.7vh 1.2vh;
  text-align: center;
}

.icon {
  color: #333;
  height: 2vh;
  padding: 0 1vh;
}

.icon:hover {
  cursor: pointer;
}

.lang {
  color: #333;
  font-weight:500;
  padding: 5px;
}

.left-aligned {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.main-btn {
  border: none;
  border-radius: 0.5vh;
  font-size: inherit;
  padding: 1.4vh 11vh;
  margin: 0 1.7vh;
}

.main-btn:hover {
  cursor: pointer;
}

.main-btns {
  display: inline-flex;
  margin-bottom: 2vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 79%;
  justify-content: space-between;
  line-height: 2vh;
  position: fixed;
  top: 18vh;
}

.modal {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -5%;
  padding-top: 7vh;
  width: 100%;
  z-index: 50;
}

.modal:hover {
  cursor: pointer;
}

.modal-inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 8vh 0 6vh 0;
}

.modal-inner-div {
  padding: 0 6vh;
}

.modal-inner-img {
  height: 120px;
  width: auto;
  padding: 0 1vh;
}

.modal-ul {
  font-weight: bold;
  line-height: 4vh;
  text-align: left;
}

.model {
  font-size: calc(25px + 2vmin);
  font-weight: 500;
}

.model-y {
  margin: -170px;
}

.nav-btn {
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 0.7vh 1.7vh;
  margin: 0 0.5vh;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #CCC;
  border-radius: 0.5vh;
}

.medium {
  font-weight: medium;
  font-size: 3.5vh;
}

.order-main {
  color: #333;
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
}

.order-left, .order-right {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.order-left {
  margin: 20px;
  width: 74%;
}

.order-right {
  background-color: white;
  margin: 20px 40px 20px 20px;
  padding: 1vh 0 0 5vh;
  position: relative;
  width: 26%;
}

.order-right > h1 {
  margin: 60px 0 10px 0;
}

.order-right > p {
  margin: 0;
  padding: 5px;
}

.padded {
  padding: 3vh 0;
  width: 80%;
}

.paint-img {
  border-radius: 50%;
  height: 5vh;
  padding: 4px;
  width: auto;
}

.paint-img-selected {
  border: 2px solid #0079FF;
  border-radius: 50%;
  height: 5vh;
  padding: 2px;
  width: auto;
}

.paint-img:hover, .paint-img-selected:hover {
  cursor: pointer;
}

.price {
  font-size: calc(15px + 1vmin);
  font-weight:500;
  padding: 0;
  margin: 0;
}

.price-nav {
  align-items: center;
  background-color: #ECECEC;
  border-radius: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4vh 0;
  padding: 0.6vh;
  width: 97%;
}

.price-nav-btn {
  background-color: #ECECEC;
  border: none;
  color: #696969;
  font-size: 1.7vh;
  font-weight: bolder;
  height: 100%;
  padding: 0.8vh;
  width: 50%;
}

.price-nav-btn:hover {
  cursor: pointer;
}

.price-nav-btn-selected {
  background-color: white;
  border: none;
  border-radius: 0.5vh;
  color: #333;
  font-size: 1.7vh;
  font-weight: bolder;
  height: 100%;
  padding: 0.8vh;
  width: 50%;
}

.shop-section {
  font-size: 2.5vh;
  font-weight: bold;
}

.tax-credit { 
  align-items: center;
  background: radial-gradient(circle, rgba(33,61,88,1) 19%, rgba(10,26,47,1) 55%);
  border-radius: 0.5vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 90%;
}

.tax-credit > a, .tax-credit > p {
  font-size: 0.9rem;
  margin: 0.5rem;
}

.tax-credit > h2 {
  margin: 0rem;
}

.tax-credit > h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
}

.thin-border-btn, .thin-border-btn-blue {
  background-color: transparent;
  border: 1px solid #D3D3D2;
  border-radius: 0.5vh;
  color: #696969;
  display: flex;
  flex-direction: row;
  font-size: 2vh;
  justify-content: space-between;
  margin: 0.5vh 0;
  padding: 1.7vh;
  text-align: left;
  width: 100%;
}

.thin-border-btn-blue {
  border: 2px solid #0079FF;
  color: #333;
}

.thin-border-btn:hover, .thin-border-btn-blue:hover {
  cursor: pointer;
}

.ul-title {
  color: #333;
  font-weight: light;
  padding-bottom: 1vh;
  text-align: left;
}

.regular-bold {
  font-weight: 600;
  font-size: 2vh;
}

#main-btn-1 {
  background-color: white;
  color: #333;
  opacity: 0.7;
}

#main-btn-2 {
  background-color: #333;
  color: white;
  opacity: 0.7;
}

a {
  color: inherit;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}